# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Production
/client/build
/server/build

# Environment
.env
.env.*
!.env.example